@import "./src/style/variables";
@import "./src/style/mixin";


.filter {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 48px;
}

.filter__wrapper {
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;
  //align-items: center;

  display: grid;
  grid-template-columns: repeat(auto-fill, 166px);
  grid-column-gap: 30px;
  grid-row-gap: 26px;
  justify-content: flex-start;
}

.filter__item {
  margin-bottom: 26px;

  &:first-child {
    align-self: flex-end;
  }

  &:last-child {
    display: none;
  }
}

.filter__container {
  display: flex;
  align-items: center;
}

.filter__active {
  margin-right: 75px;
  @include fontStyle(12px, 500, $secondaryColor);
}


.filter__apply-btn {
  position: relative;
  padding-left: 20px;
  margin-left: auto;
  min-width: 136px;
  height: 36px;
  border: 2px solid $specialColor;

  &:before {
    content:"";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 11px;
    height: 7px;
    border-left: 2px solid $specialColor;
    border-bottom: 2px solid $specialColor;
    transform: rotate(-45deg);
  }
}

@media (max-width: 960px) {
  .filter {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .filter {
    margin-bottom: 26px;
  }

  .filter__active {
    display: none;
  }

  .filter__container {
    display: none;
  }

  .filter__wrapper {
    grid-template-columns: none;
    justify-content: normal;
  }

  .filter__item {
    margin-bottom: 8px;

    &:not(:first-child) {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }
}
