@import "./src/style/variables";

.btn {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  border-radius: 24px;
  outline: none;
}

.btn--blue {
  color: $specialColor;

  &:hover {
    background-color: $specialColorHover;
  }

  &:focus {
    background-color: $specialColorFocus;
  }

  &:active {
    background-color: $specialColorPress;
  }
}

.btn--gray {
  color: $secondaryColor;

  &:hover,
  &:focus,
  &:active {
    color: $errorColor;
  }
}

.btn--settings {
  position: relative;
  min-width: 180px;
  height: 36px;
  padding-left: 25px;

  &:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 14px;
    height: 14px;

    background: url("../assets/img/icon-filter-settings.svg") no-repeat 50% 50%;
  }

}

.btn--discard {
  position: relative;
  min-width: 125px;
  height: 36px;
  padding-left: 25px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 2px;
    height: 11px;
    transform: rotate(45deg);
    background: $secondaryColor;
  }

  &:after {
    transform: rotate(135deg);
  }

  &:hover,
  &:focus,
  &:active {
    &:before,
    &:after {
      background: $errorColor;
    }
  }
}
