$secondaryColor: #757575;
$primaryColor: rgba(0, 0, 0, 0.87);
$specialColor: #1071FF;
$specialColorHover: #F6FAFF;
$specialColorFocus: #E2EEFF;
$specialColorPress: #D9E8FF;
$lineColor: rgba(0, 0, 0, 0.08);
$placeholderColor: rgba(0, 0, 0, 0.38);
$errorColor: #FC3259;
