@import "./src/style/variables";
@import "./src/style/mixin";

.pl-tabs {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 35px;
  border-bottom: 1px solid $lineColor;
}

.pl-tabs__item {
  display: flex;
  align-items: center;
  min-height: 36px;
  @include fontStyle(12px, 500, $secondaryColor);
  cursor: pointer;

  &--active {
    position: relative;
    color: $primaryColor;

    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $specialColor;
    }
  }
}

.pl-tabs__item + .pl-tabs__item {
  margin-left: 24px;
}
