@import "./src/style/variables";
@import "./src/style/mixin";

.modal-overlay:before {
  //display: none;
  content: "";
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.94);
  overflow: hidden;
  animation: modal-overlay-open 0.7s ease-in-out forwards;
}

.modal-overlay--close {
  animation: modal-overlay-close 0.7s ease-in-out forwards;
}

.modal {
  //display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 68vw;
  //min-height: 940px;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid $lineColor;
  border-bottom: 1px solid $lineColor;
  transform: translateX(68vw);
  animation: modal-open 0.7s ease-in-out forwards;
}

.modal--close {
  animation: modal-close 0.7s ease-in-out forwards;
}

.modal__wrapper {
  margin: 0 auto;
  padding: 0 24px;
}

.modal__title {
  padding: 24px 24px 20px;
  @include fontStyle(18px, 700, $primaryColor);
}

.modal__subtitle {
  margin-bottom: 26px;
  @include fontStyle(14px, 700, $primaryColor);
}

.modal__condition {
  display: flex;
  flex-direction: column;
}

.modal__condition .condition__item:not(:last-child) {
  margin-bottom: 16px;
}

.condition {
  margin-bottom: 36px;
}


.condition__controls {
  position: absolute;
  top: 12px;
  right: 16px;
}

.condition__controls button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  outline: none;
}

.condition__accept-btn {
  position: relative;
  &:before {
    content:"";
    position: absolute;
    top: 14px;
    left: 13px;
    width: 14px;
    height: 8px;
    border-left: 2px solid $specialColor;
    border-bottom: 2px solid $specialColor;
    transform: rotate(-45deg);
  }

  &:hover, &:focus {
    background-color: $specialColor;

    &:before {
      border-left-color: #ffffff;
      border-bottom-color: #ffffff;
    }
  }
}

.condition__close-btn {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 19px;
    width: 2px;
    height: 14px;
    transform: rotate(45deg);
    background: $secondaryColor;
  }

  &:after {
    transform: rotate(135deg);
  }

  &:hover, &:focus {
    background-color: $errorColor;
    &:before,
    &:after {
      background-color: #ffffff;
    }
  }
}

.condition__item {
  position: relative;
  padding: 5px 0;
  padding-left: 36px;
  @include fontStyle(12px, 500, $secondaryColor);

  & label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: radial-gradient(#F3F3F3, #F3F3F3);
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
}

.condition__item input:checked {
  & ~ label:before {
    background-image: radial-gradient($specialColor 3px, #DDEAFF 3px);
  }
}

.members {
  display: flex;
  justify-content: space-between;
}

.members__available {
  max-width: 410px;
  flex-grow: 1;
}

.members__involved {
  max-width: 410px;
  flex-grow: 1;
}

.member__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 182px);
  grid-column-gap: 30px;
  grid-row-gap: 36px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 40px;
}

.members__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.members__active {
  margin-right: 34px;
  @include fontStyle(12px, 500, $secondaryColor);
}

.members__wrapper .btn--settings,
.members__wrapper .btn--discard {
  min-width: 130px;
}

.members__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36px;
  border-radius: 4px;

  &:hover {
    background-color: #F6F6F6;
  }

  &:first-child .members__name {
    padding-left: 33px;
  }

}

.members__name {
  position: relative;
  padding: 10px 0;
  padding-left: 68px;
  @include fontStyle(12px, 500, $primaryColor);

  &:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 8px;

    width: 16px;
    height: 16px;

    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  &:after {
    display: none;
    content:"";
    position: absolute;
    top: 12px;
    left: 11px;
    width: 11px;
    height: 7px;
    border-left: 2px solid $specialColor;
    border-bottom: 2px solid $specialColor;
    transform: rotate(-45deg);
  }

}

.members__item>input:checked ~ .members__name {
  &:after {
    display: block;
  }
}

.members__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  border: 1px solid;
  border-image-source:url("../../assets/img/dashed.png");
  border-image-width: 1;
  border-image-slice: 1;
  border-image-repeat: round;
  border-radius: 4px;
}

.members__description {
  position: relative;
  padding-top: 80px;
  width: 290px;
  @include fontStyle(12px, 500, $placeholderColor);
  line-height: 16px;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 152px;
    height: 36px;

    background: url("../../assets/img/icon-members.svg") no-repeat 50% 50%;
    border: 1px solid $lineColor;
    border-radius: 4px;
    box-shadow: 16px 16px 0 rgba(0, 0, 0, 0.05);
    transform: translateX(-50%);
  }
}

.condition__first,
.condition__second {
  display: none;
}

.condition--open1 {
  display: block;
  animation: condition-open 0.7s ease-in-out forwards;
}

.condition--open2 {
  display: flex;
  animation: condition-open 0.7s ease-in-out forwards;
}

@media (max-width: 1160px) {
  .members__active {
    display: none;
  }
}


@media (max-width: 960px) {
  .members__involved {
    display: none;
  }
}

@media (max-width: 640px) {
  .modal {
    width: 100vw;
  }
}

@keyframes modal-open {
  0% {
    transform: translateX(68vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes modal-close {
  100% {
    transform: translateX(68vw);
  }

  0% {
    transform: translateX(0);
  }
}

@keyframes modal-overlay-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes modal-overlay-close {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

@keyframes condition-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
